* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.header-wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../images/header/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-info {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 14px 0;
    color: #FFFFFF;
}

.header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-left: 299px;
}

.header-info {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 14px 0;
    color: #FFFFFF;
}

.header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.header-nav__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    margin-left: 30px;
    color: #FFFFFF;
}

.header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.header-contacts__img {
    margin-right: 8px;
}

.header-contacts__info {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.header-contacts__tel-link {
    text-decoration: none;
    color: #FFFFFF;
}

.header-languge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-left: #FFFFFF 1px solid;
}

.header-languge .language-icon {
    margin-right: 9px;
}

.header-languge .header-form {
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background: none;
}

.search-icon {
    margin-left: 20px;
    margin-right: 17px;
}

.header-form:focus {
    border: none;
    outline: none;
}

form select {
    border: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    background: none;
}

.header-button__nav {
    display: none;
}

.main-wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../images/main/2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.main-header__nav {
    margin-top: 18px;
}

.main-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.main-header__list .main-header__symbol {
    margin: 0 11px;
    text-align: center;
    opacity: 0.5;
}

.main-header__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    opacity: 0.5;
    text-decoration: none;
    color: #FFFFFF;
}

#main-link__active {
    opacity: 1;
}

.main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1600px;
    width: 100%;
    height: 419px;
    margin: 0 auto;
    color: #FFFFFF;
}

.main-title__info {
    max-width: 813px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
}

.main-title {
    font-weight: 700;
    font-size: 58px;
    line-height: 55px;
    margin-bottom: 31px;
    color: #FFFFFF;
}

.main-header__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.main-block1 {
    background-color: #E5E5E5;
    max-width: 1920px;
    height: auto;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.main-block1__content {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 132px 0;
}

.main-block1__left {
    margin-right: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.main-block1__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #102441;
}

.main-block1__right {
    overflow: scroll;
    overflow-x: hidden;
    height: 375px;
}

.scroll-shadow {
    width: 100%;
    -webkit-transform: translateY(-136px);
    transform: translateY(-136px);
}

.main-block1__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #405267;
}

.main-block1__img {
    width: 241px;
}

.main-block2__content {
    background-color: #E5E5E5;
    max-width: 1920px;
    height: auto;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.main-block2__title {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 46px;
    color: #102441;
    margin-bottom: 85px;
}

.main-block2__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 146px;
}

.main-block2__iteam {
    width: 30%;
    background-color: #F9FAFD;
    margin-bottom: 35px;
    padding: 35px 42px;
}

.main-block2__text {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    margin-top: 21px;
    margin-bottom: 7px;
    color: #141414;
}

.main-block2__subtext {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #405267;
}

.main-block3__sertificate-wrapper {
    background-image: url(../images/main/block3-blue-crystal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.main-block3__sertificate {
    font-family: 'Roboto', sans-serif;
    padding-top: 109px;
    padding-bottom: 114px;
}

.main-block3__title {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 46px;
    color: #102441;
    margin-bottom: 46px;
}

.main-content__sertificat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 46px;
}

.sertificat__img {
    width: 33%;
}

.main-block3__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #405267;
    margin-bottom: 149px;
}

.main-block3__line {
    max-width: 1600px;
    width: 100%;
    -webkit-transform: translateY(47px);
    transform: translateY(47px);
    z-index: 1;
}

.main-block3__year-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-block3__year-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 43px;
    width: 100%;
}

.main-block3__year-item:last-child {
    margin-right: 0;
}

.main-block3__year-icon {
    width: 76px;
    margin-bottom: 26px;
    z-index: 1;
}

.main-block3__year-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #405267;
}

.main-block4 {
    background-color: #E5E5E5;
    max-width: 1920px;
    height: auto;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
    padding-bottom: 146px;
}

.main-block4__command-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 112px;
}

.main-block4__title {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 46px;
    color: #102441;
    margin-bottom: 46px;
}

.command-group__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.command-group__img {
    width: 100%;
}

.command-group__name {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #141414;
    margin-left: 13px;
    margin-top: 25px;
}

.command-group__job-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #405267;
    margin-left: 13px;
}

.main-block4__brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main__map-block {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../images/main/mapblock.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 115px;
    padding-bottom: 103px;
}

.map-block__group {
    max-width: 693px;
    width: 100%;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding: 35px 45px 18px 45px;
}

.map-block__info {
    margin-bottom: 21px;
}

.map-block__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    color: #102441;
}

.map-block__email {
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    color: #203E75;
    text-decoration: none;
}

.map-block__iteam {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 340px;
    margin-bottom: 20px;
}

.map-block__icon-img {
    width: 14px;
    margin-right: 11px;
}

.map-block__iteam-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #102441;
}

.map-block__iteam-subtext {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #5a6878;
}

.map-block__iteam-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.map-block__iteam-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.map-block__cm {
    max-width: 693px;
    width: 100%;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding: 35px 45px 18px 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #DFDFDF;
}

.cm__instagram {
    margin-right: 24px;
}

.cm__vk {
    margin-right: 24px;
}

.cm__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #203E75;
    width: 214px;
    height: 56px;
}

.cm__button__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

footer {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: #1C1E21;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-info__text {
    width: 456px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.footer-info__logo {
    width: 153px;
    margin-bottom: 30px;
}

.footer-info__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 30px;
}

.footer-info__list {
    list-style-type: none;
}

.footer-info__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 251.34%;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-info__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-info__tel .footer-info__tel-number {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 17px;
}

.icons {
    width: 23px;
    margin-right: 19px;
}

.footer__last-text {
    width: 100%;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin-top: 97px;
}

@media (max-width: 1440px) {
    .container {
        max-width: 1350px;
    }
    .header-wrapper {
        max-width: 1440px;
    }
    .header-info {
        max-width: 1350px;
    }
    .main-wrapper {
        max-width: 1440px;
    }
    .scroll-shadow {
        -webkit-transform: translateY(-110px);
        transform: translateY(-110px);
    }
    .main-block1 {
        max-width: 1440px;
    }
    .main-block1__content {
        max-width: 1350px;
    }
    .main-block2__content {
        max-width: 1440px;
    }
    .main-block3__sertificate-wrapper {
        max-width: 1440px;
    }
    .main-block3__line {
        max-width: 1350px;
    }
    .main-block4 {
        max-width: 1440px;
    }
    .main__map-block {
        max-width: 1440px;
    }
    footer {
        max-width: 1440px;
    }
    .footer-info__text {
        width: 340px;
    }
}

@media (max-width: 1024px) {
    .header-wrapper {
        max-width: 1024px;
    }
    .container {
        max-width: 950px;
    }
    .header-info {
        max-width: 950px;
    }
    .header-nav__list {
        margin-left: 0;
    }
    .main-wrapper {
        max-width: 1024px;
    }
    .main-header {
        max-width: 950px;
    }
    .header-nav__link {
        font-weight: 400;
        font-size: 14px;
        margin-left: 10px;
    }
    .header-nav__link {
        font-size: 15px;
    }
    .scroll-shadow {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
    }
    .main-block1 {
        max-width: 1024px;
    }
    .main-block1__content {
        max-width: 950px;
    }
    .main-block2__content {
        max-width: 1024px;
    }
    .main-block2__text {
        font-size: 17px;
    }
    .main-block2__subtext {
        font-size: 16px;
    }
    .main-block3__sertificate-wrapper {
        max-width: 1024px;
    }
    .main-block3__line {
        max-width: 950px;
    }
    .main-block3__year-text {
        font-size: 13px;
    }
    .main-block4 {
        max-width: 1024px;
    }
    .command-group__name {
        font-size: 20px;
    }
    .command-group__job-title {
        font-size: 16px;
    }
    .main__map-block {
        max-width: 1024px;
        padding-top: 75px;
        padding-bottom: 63px;
    }
    .map-block__title {
        font-size: 35px;
    }
    .map-block__email {
        font-size: 35px;
    }
    .map-block__group {
        max-width: 500px;
    }
    .map-block__iteam {
        max-width: 200px;
    }
    .map-block__cm {
        max-width: 500px;
    }
    footer {
        max-width: 1024px;
    }
    .footer-info__text {
        width: 300px;
        font-size: 15px;
    }
    .footer-info__link {
        font-size: 15px;
    }
    .footer-info__logo {
        margin-bottom: 12px;
    }
    .footer__last {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .header-wrapper {
        max-width: 768px;
    }
    .container {
        max-width: 700px;
    }
    .header-info {
        max-width: 700px;
    }
    .header-nav {
        display: none;
    }
    .header-button__nav {
        display: block;
    }
    .header-button__img {
        width: 40px;
    }
    .main-title {
        font-size: 40px;
    }
    .main-header__text {
        font-size: 16px;
    }
    .main-wrapper {
        max-width: 768px;
    }
    .main-header {
        max-width: 700px;
    }
    .scroll-shadow {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
    }
    .main-block1 {
        max-width: 768px;
    }
    .main-block1__text {
        font-size: 15px;
    }
    .main-block1__content {
        max-width: 700px;
    }
    .main-block2__content {
        max-width: 768px;
    }
    .main-block2__group {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .main-block2__iteam {
        width: 45%;
    }
    .main-block2__text {
        font-size: 19px;
    }
    .main-block3__sertificate-wrapper {
        max-width: 768px;
    }
    .main-block3__text {
        font-size: 15px;
    }
    .main-block3__line {
        display: none;
    }
    .main-block3__year-group {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .main-block3__year-item {
        width: 30%;
        margin-right: 15px;
        margin-bottom: 20px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .main-block4 {
        max-width: 768px;
        padding-bottom: 50px;
    }
    .brands__icon {
        width: 60px;
    }
    .main__map-block {
        max-width: 768px;
    }
    .map-block__title {
        font-size: 25px;
    }
    .map-block__email {
        font-size: 25px;
    }
    .map-block__group {
        max-width: 400px;
    }
    .map-block__info {
        margin-bottom: 10px;
    }
    .map-block__iteam {
        max-width: 400px;
    }
    .map-block__cm {
        max-width: 400px;
        padding: 18px 45px 18px 45px;
    }
    .map-block__iteam-title {
        font-size: 15px;
    }
    .map-block__iteam-subtext {
        font-size: 15px;
    }
    .map-block__iteam-left {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .map-block__iteam-right {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .cm__instagram {
        margin-right: 5px;
    }
    .cm__vk {
        margin-right: 5px;
    }
    .cm__button {
        width: 154px;
    }
    .cm__button__link {
        font-size: 14px;
    }
    footer {
        max-width: 768px;
    }
    .footer-info__title {
        font-size: 18px;
    }
    .footer-info__text {
        width: 230px;
        font-size: 13px;
    }
    .footer-info__link {
        font-size: 15px;
    }
    .footer-info__logo {
        margin-bottom: 12px;
    }
    .footer-info__tel-number {
        font-size: 15px;
    }
    .footer__last {
        font-size: 10px;
    }
}

@media (max-width: 320px) {
    .header-wrapper {
        max-width: 320px;
    }
    .container {
        max-width: 300px;
    }
    .header-info {
        max-width: 300px;
    }
    .header-nav {
        display: none;
    }
    .header-contacts {
        display: none;
    }
    .header-languge {
        display: none;
    }
    .header-button__nav {
        display: block;
    }
    .header-button__img {
        width: 40px;
    }
    .main-wrapper {
        max-width: 320px;
    }
    .main-header {
        max-width: 300px;
    }
    .scroll-shadow {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    .main-block1 {
        max-width: 320px;
    }
    .main-block1__left {
        text-align: center;
    }
    .main-block1__content {
        max-width: 300px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .main-block1__title {
        margin-bottom: 40px;
    }
    .main-block1__left {
        text-align: center;
        margin-bottom: 20px;
    }
    .main-block2__content {
        max-width: 320px;
    }
    .main-block2__iteam {
        width: 100%;
    }
    .main-block2__group {
        padding-bottom: 30px;
    }
    .main-block2__text {
        font-size: 17px;
    }
    .main-block3__sertificate-wrapper {
        max-width: 320px;
    }
    .main-content__sertificat {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .sertificat__img {
        width: 100%;
    }
    .main-block3__year-item {
        width: 100%;
    }
    .main-block4 {
        max-width: 320px;
        padding-bottom: 30px;
    }
    .main-block4__command-group {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .main-block4__brands {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .brands__icon {
        width: 60px;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .main__map-block {
        max-width: 320px;
    }
    .map-block__title {
        font-size: 20px;
    }
    .map-block__email {
        font-size: 20px;
    }
    .map-block__group {
        max-width: 300px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .map-block__iteam {
        max-width: 300px;
    }
    .map-block__cm {
        max-width: 300px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .cm__icons {
        margin-bottom: 12px;
    }
    .cm__instagram {
        margin-right: 10px;
    }
    .cm__vk {
        margin-right: 10px;
    }
    footer {
        max-width: 320px;
    }
    .footer-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer-info__text {
        width: 100%;
    }
    .footer-info__title {
        margin: 0;
    }
    .footer-info__link {
        font-size: 15px;
    }
    .footer-info__iteam {
        margin-bottom: 15px;
    }
}


/*# sourceMappingURL=style2.css.map */