*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.header{
    max-width: 1920px;
    height: 80px;
    margin: 0 auto;
    background: url(../img/siteheader.png); 
}
.smart__menu{
    display: none;
}
.conteiner__header{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
.header__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__form{
    display: flex;
    align-items: center;
}
li{
    display: flex;
    width: 561px;
    height: 20px;
    align-items: center;
    justify-content: space-between;
}
.header__form-link{
    margin-right: 17px;
}
.header__form-img{
    margin-right: 10px;
}
.header__tel-link{
    display: flex;
    height: 34px;
    margin-left: 40px;
}
.tel__link{
    width: 120px;
    height: 34px;
    text-align: center;
}
.header__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.tel__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.tel__link-img{
    margin-right: 8px;
}
.header__line{
    height: 17px;
    border: 1px solid white;
    margin  : 0 20px;
}
.select__form{
    max-width: 97px;
    background: url(../img/siteheader.png);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-right: 10px;
    border: none;
}
main{
    max-width: 1920px;
    height: 470px;
    margin: 0 auto;
    background-color: #F2F6FB;
}
.link__index{
    width: 1559px;
    margin: 0 auto;
    padding-top: 18px;
}
.link__index-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #3C3C3C;
    opacity: 0.5;
}
.color{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #1D80EB;
}
.h2__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 46px;
    text-align: center;
    color: #102441;
    margin-top: 67px;
}
.search{
    width: 1600px;
    margin: 0 auto;
    display: flex;
}
.form-main__search{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
}
.search input{
  border: none;
  outline: none;
  padding: 18px 510px 22px 27px;

}
.form-main__search-input{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #405267;
}
.form-main__search-button{
    margin-top: 36px;
    padding: 16px 67px 19px 68px;
    background-color: #203E75;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center
}
.form-main__search-img{
  position: relative;
  left: 350px;
  bottom: 50px;
}


footer {
    max-width: 1920px;
    height: 475px;
    margin: 0 auto;
    background-color: #1C1E21;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding-top: 76px;
}
.wrapper__footer{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.column__footer{
    display: flex;
    flex-direction: column;
    height: 250px;
}
.basic__footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}
.info__footer-text{
    width: 456px;
}
.basic__foter-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}
.basic__foter-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.info__footer-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.adres{
    width: 365px;
}
.tel{
    display: flex;
    .nom-tel{
        margin-left: 10px;
    }   
}
.social__img{
    padding-right: 10px;
}
.line__footer{
    border: 1px solid #353535;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 70px;
}
.copyright__footer{
    width: 820px;
    height: 48px;
    text-align: center;
    margin: 0 auto;
    margin-top: 26px;
}
.copyright__footer-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
@media(max-width:1440px){
    .link__index{
        max-width: 1440px;
    }
    .search{
        max-width: 1440px;
    }
    
}
@media(max-width:1024px){
    .header{
        max-width: 1024px;
    }
    .conteiner__header{
        max-width: 964px;
    }
    .link__index{
        max-width: 1024px;
    }
    .search{
        max-width: 1024px;
    }
    .header__tel-link, .header__line, .header__form{
        display: none;
    }
    .wrapper__footer{
        max-width: 964px;
        height: 380px;
    }
    .info__footer-text{
        width: 270px;
        height: 407px;
    }
    footer{
        height: 641px;
    }
    .line__footer{
        max-width: 864px;
    }   

}
@media(max-width:768px){
    .conteiner__header{
        max-width: 708px;
    }
    .header__link{
        font-size: 12px;
    }
    li{
        justify-content: space-around;
    }
    .form-main__search{
        max-width: 708px;
    }
    .search{
        max-width: 708px;
    }
    .wrapper__footer{
        max-width: 708px;
    }
    .one{
        display: none;
    }
    .copyright__footer{
        width: 708px;

    }
    .line__footer{
        max-width: 700px;
    }
    .link__index{
        max-width: 708px;
    }
    .search input{
        padding: 18px 400px 22px 27px;
    }
    .form-main__search-img{
        left: 295px;
    }
   
}
@media(max-width:320px) {
    .link__index{
        max-width: 300px;
    }
    .search{
        max-width: 300px;
    }
    .search input{
        padding: 18px 0px 22px 27px;
    }
    .form-main__search-img{
        display: none;
    }
    .wrapper__footer{
        flex-wrap: wrap;
        justify-content: space-evenly;
        max-width: 300px;
        height: 475px;
    }
    footer{
        height: 700px;

    }
    .adres{
        width: 300px;
    }
    .basic__footer{
        align-items: center;
        justify-content: space-evenly;
    }
    .copyright__footer{
        max-width: 300px;
    }
    .line__footer{
        display: none;
    }
    .header__menu{
        display: none;
    }
    .smart__menu{
        display: block;
    }
    .smart__menu-img{
        width: 55px;
    }
}